#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70vw;
    margin: auto;
    background-color: rgb(97, 97, 204);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
}

#todo-list {
    padding: 0
}

#todo-list li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 105, 145);
    padding: 0 10px;
    border: 2px solid rgb(115, 170, 177);
    border-radius: 5px;
    margin: 5px;
}